<div class="dark:bg-slate-700 bg-nepal-500 w-full text-white py-4 px-8 text-center rounded-lg shadow-md">
  <p>ProjectX is in alpha. Please expect bugs.<p>
</div>
<div class="text-center m-4">
  <p>Welcome <%= current_user.full_name %></p>
  <h1 class="mt-2 text-lg">Here you will find all the information you need to know.</h1>
</div>
