{ "parser": "html", "tabWidth": 4, "semi": false, "singleQuote": true,
"trailingComma": "none", "rubyArrayLiteral": true, "rubyHashLabel": true,
"rubyModifier": true, "rubySingleQuote": true, "rubyToProc": false }
