<%= form_with(model: [@company, @team, @project, @task, @comment], class: "contents") do |f| %>
 <div class="my-5">
   <%= f.label :body %>
   <%= f.text_area :body, class: "dark:bg-slate-700 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full appearance-none", rows: 4, placeholder: "Enter your comment here", style: "resize: none;"%>
 </div>

 <div class="inline">
   <%= f.submit "Update comment", class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
 </div>
<% end %>
