<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing <%= @invoice.invoice_issue %></h1>

  <%= render "form", invoice: @invoice %>

  <%= link_to "Show this invoice", company_invoice_path(@company, @invoice), class: "ml-2 rounded-lg py-3 px-5 bg-neutral-100 dark:bg-indigo-900 dark:hover:bg-indigo-950" %>
</div>
