<div class="mt-8 flow-root">
  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <table class="min-w-full table-auto">
        <thead>
          <tr>
            <% @headers.each do |header| %>
              <th scope="col" class="bg-neutral-100 dark:bg-indigo-900 p-3 font-semibold lg:table-cell"><%= header %></th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @rows.each do |row| %>
            <tr class="even:bg-neutral-100 dark:even:bg-indigo-900">
              <% row.each do |cell| %>
                <td class="whitespace-nowrap px-3 py-5 text-sm">
                  <div class="text-center"><%= cell %></div>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
