<% render HeadingComponent.new(
  title: "Notifications",
  text: "A list of notifications in your acount"
) %>

<div class="dark:bg-slate-900 bg-neutral-100 p-4 rounded-md flex items-center">
  <%= link_to("Mark all as read", mark_as_read_notifications_path, class: "dark:text-white text-black px-4 py-2 rounded-md bg-neutral-200 dark:bg-slate-800 dark:hover:bg-slate-700 transition duration-150 ease-in-out") %>
  <%= link_to("Mark all as unread", mark_as_unread_notifications_path, class: "dark:text-white text-black px-4 py-2 rounded-md bg-neutral-200 dark:bg-slate-800 dark:hover:bg-slate-700 transition duration-150 ease-in-out ml-4") %>
</div>


<%= render TableComponent.new(
  headers: ["Message", "Created at"],
  rows:
    @notifications.map do |notification|
      [
        notification.message,
        "#{time_ago_in_words(notification.created_at)} ago"
      ]
    end
) %>
