<% render HeadingComponent.new(
  title: "Notifications",
  text: "A list of notifications in your acount"
) %>

<div class="dark:bg-slate-900 bg-neutral-100 p-4 rounded-md flex items-center">
  <%= link_to("Mark all as read", mark_as_read_notifications_path, { class:"dark:text-white text-black px-4 py-2 rounded-md bg-neutral-200 dark:bg-slate-800 dark:hover:bg-slate-700 transition duration-150 ease-in-out", data: { turbo_method: :post } }) %>
  <%= link_to("Mark all as unread", mark_as_unread_notifications_path, { class: "dark:text-white text-black px-4 py-2 rounded-md bg-neutral-200 dark:bg-slate-800 dark:hover:bg-slate-700 transition duration-150 ease-in-out ml-4", data: { turbo_method: :post } }) %>
  <form class="relative w-1/2">
    <div class="absolute inset-0 ml-2 flex w-5 items-center">
      <%= heroicon "adjustments-horizontal", variant: :outline %>
    </div>

    <input type="search" name="fitler" title="filter" placeholder="Filter Notifications" required={false} class="w-full pl-12 text-sm dark:bg-slate-800 dark:text-white dark:border-white" />
  </form>
</div>

<%= render TableComponent.new(
  headers: ["", "Message", "Created at"],
  rows:
  @notifications.map do |notification|
      [
        (form_for(notification, url: mark_as_read_notifications_path, method: :post) do |f|
          f.check_box :read_at, class: 'mark-as-read-checkbox', data: { remote: true }
        end),
        notification.message,
        "#{time_ago_in_words(notification.created_at)} ago"
      ]
    end
) %>
