<% if notice || alert %>
  <div class="transition-all flex items-center bg-neutral-100 dark:bg-slate-900 px-6 py-4 mb-2 w-full" data-controller="alert" data-alert-target="closeAlert">
    <p class="text-center leading-6 text-gray-900 dark:text-white w-full">
      <% if notice %>
        <%= notice.html_safe %>
      <% elsif alert %>
        <%= alert.html_safe %>
      <% end %>
    </p>

    <div class="flex flex-1 justify-end">
      <button type="button" class="-m-3 p-3 focus-visible:outline-offset-[-4px] dark:text-white" data-action="click->alert#closeAlert">
        <%= heroicon "x-mark", variant: :outline %>
      </button>
    </div>
  </div>
<% end %>
