<div class="h-full w-full bg-white">
  <nav class="flex items-center justify-between bg-neutral-200 p-4">
    <div class="text-black text-lg font-semibold">
      ProjectX
    </div>
    <div class="flex items-center space-x-4 gap-4">
      <%= link_to "Home", root_path, class: "text-black hover:underline" %>
    </div>
  </nav>
  <div>
    <h1>ProjectX</h1>
  </div>
</div>
