<div class="bg-nepal-500 h-screen dark:bg-slate-800 dark:text-white">
  <h1 class="font-bold text-4xl">Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>

  <% if user_signed_in? %>
    <p>Hello, you are signed in</p>
    <%= link_to "Account Settings", edit_user_registration_path %>
    <%= button_to "Sign out",
    destroy_user_session_path,
    method: :delete,
    data: [confirm: "Are you sure?"] %>
  <% else %>
    <%= button_to "Sign in", new_user_session_path %>
  <% end %>

  <%= link_to "Dashboard", dashboard_index_path %>
</div>
