<body class="bg-neutral-100 dark:bg-slate-800 dark:text-black">

  <nav class="bg-white p-4">
    <div class="container mx-auto flex justify-between items-center">
      <a href="#" class="text-black font-bold text-xl">ProjectX</a>
      <ul class="flex space-x-4">
        <%= active_link_to("Home", root_path, class: "text-black") %>
        <%= active_link_to("Dashboard", dashboard_index_path, class: "text-black") %>
      </ul>
    </div>
  </nav>


  <div class="container mx-auto mt-8">
    <%= yield %>
  </div>
</body>
