<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing
    <%= @company.name %></h1>

  <%= render "form", company: @company %>

  <%= link_to "Show this company", company_path(@company), class: "ml-2 rounded-lg py-3 px-5 bg-neutral-100 dark:bg-indigo-900 dark:hover:bg-indigo-950" %>
</div>
