<nav class="dark:bg-slate-800 z-50 fixed top-0 left-0 right-0 w-full ml-24 md:ml-60 flex items-center pl-4 pr-6 pt-3 pb-[0.88rem] border-b-2 border-solid border-black dark:border-white  ">
  <div class="w-[calc(100%-5rem)] md:w-[calc(100%-15rem)]">
    <div class="flex items-center gap-4">
      <form class="relative w-full">
        <div class="absolute inset-0 ml-2 flex w-8 items-center border-r-2 border-solid border-gray-700 dark:border-white">
          <%= heroicon "magnifying-glass", variant: :outline %>
        </div>

        <input
          type="search"
          name="search"
          title="search"
          placeholder="Search..."
          required={false}
          class="w-full pl-12 text-sm dark:bg-slate-800 dark:text-white dark:border-white"
        />
      </form>

      <%= heroicon "bell", variant: :outline %>
    </div>
  </div>
</nav>