<div class="container mx-auto px-4 mt-10">
  <div class="text-center mb-8">
    <h1 class="text-2xl font-semibold mb-2 dark:text-white">Explore Our Product Plans</h1>
    <p class="text-gray-700 dark:text-white">Find the perfect plan that suits your needs!</p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    <div class="rounded-lg shadow-lg bg-white dark:bg-slate-900 dark:text-white">
      <div class="h-full flex flex-col justify-between px-6 py-8"">
        <div>
          <h2 class="text-center font-semibold text-lg mb-4">Basic</h2>
          <p class="text-gray-700 dark:text-white text-center mb-8">For startups</p>
          <div class="text-center mb-6">
            <span class="text-4xl font-semibold">£10</span>
            <span class="text-gray-600 dark:text-white">/month</span>
          </div>
          <ul class="text-sm text-center text-gray-600 dark:text-white mb-6">
            <li class="mb-3">1 Team</li>
            <li class="mb-3">1 Team</li>
            <li class="mb-3">1 Team</li>
          </ul>
        </div>
        <div>
          <%= link_to "Start your 30-day free trial", new_user_registration_path, class: "text-center block w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-3 rounded-lg" %>
        </div>
      </div>
    </div>

    <div class="rounded-lg shadow-lg bg-white dark:bg-slate-900 dark:text-white">
      <div class="h-full flex flex-col justify-between px-6 py-8"">
        <div>
          <h2 class="text-center font-semibold text-lg mb-4">Business</h2>
          <p class="text-gray-700 dark:text-white text-center mb-8">For startups</p>
          <div class="text-center mb-6">
            <span class="text-4xl font-semibold">£19</span>
            <span class="text-gray-600 dark:text-white">/month</span>
          </div>
          <ul class="text-sm text-center text-gray-600 dark:text-white mb-6">
            <li class="mb-3">Unlimited Projects</li>
          </ul>
        </div>
        <div>
          <%= link_to "Start your 30-day free trial", new_user_registration_path, class: "text-center block w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-3 rounded-lg" %>
        </div>
      </div>
    </div>

    <div class="rounded-lg shadow-lg bg-white dark:bg-slate-900 dark:text-white">
      <div class="h-full flex flex-col justify-between px-6 py-8"">
        <div>
          <h2 class="text-center font-semibold text-lg mb-4">Enterprise</h2>
          <p class="text-gray-700 dark:text-white text-center mb-8">For Businesses</p>
          <div class="text-center mb-6">
            <span class="text-4xl font-semibold">£49</span>
            <span class="text-gray-600 dark:text-white">/month</span>
          </div>
          <ul class="text-sm text-center text-gray-600 dark:text-white mb-6">
            <li class="mb-3">Unlimited Projects</li>
          </ul>
        </div>
        <div>
          <%= link_to "Start your 30-day free trial", new_user_registration_path, class: "text-center block w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-3 rounded-lg" %>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-8 text-center">
    <p class="text-gray-600 dark:text-white"><b>**</b>Accounts will be terminated after the 30-day free trial if you do not continue paying for the subscription.</p>
  </div>
</div>
