<div class="flex items-center justify-center mt-10">
  <div class="max-w-5xl w-full mx-auto px-4">
    <div class="text-center mb-8">
      <h1 class="text-xl font-semibold mb-2">Here is a list of all the products we offer:</h1>
      <p class="text-gray-700 dark:text-black">Choose the one that fits your needs best!</p>
    </div>
    <div class="flex flex-col md:flex-row justify-center">
      <div class="max-w-sm w-full rounded-lg shadow-lg bg-white dark:bg-slate-800 dark:text-white mx-4 md:mx-0 mb-8">
        <div class="px-6 py-8">
          <h2 class="text-center font-semibold text-lg mb-4">Basic</h2>
          <p class="text-gray-700 dark:text-white text-center mb-8">Perfect for starters</p>
          <div class="text-center mb-6">
            <span class="text-4xl font-semibold">$9</span>
            <span class="text-gray-600 dark:text-white">/month</span>
          </div>
          <ul class="text-sm text-gray-600 dark:text-white mb-6">
            <li class="mb-3">10 Projects</li>
          </ul>
          <button class="block w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-3 rounded-lg">30 Day Free Trial</button>
        </div>
      </div>

      <div class="max-w-sm w-full rounded-lg shadow-lg bg-white dark:bg-slate-800 dark:text-white mx-4 md:mx-0 mb-8">
        <div class="px-6 py-8">
          <h2 class="text-center font-semibold text-lg mb-4">Business</h2>
          <p class="text-gray-700 dark:text-white text-center mb-8">For startups</p>
          <div class="text-center mb-6">
            <span class="text-4xl font-semibold">$19</span>
            <span class="text-gray-600 dark:text-white">/month</span>
          </div>
          <ul class="text-sm text-gray-600 dark:text-white mb-6">
            <li class="mb-3">Unlimited Projects</li>
          </ul>
          <button class="block w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-3 rounded-lg">30 Day Free Trial</button>
        </div>
      </div>

      <div class="max-w-sm w-full rounded-lg shadow-lg bg-white dark:bg-slate-800 dark:text-white mx-4 md:mx-0 mb-8">
        <div class="px-6 py-8">
          <h2 class="text-center font-semibold text-lg mb-4">Enterprise</h2>
          <p class="text-gray-700 dark:text-white text-center mb-8">For Large Businesses</p>
          <div class="text-center mb-6">
            <span class="text-4xl font-semibold">$49</span>
            <span class="text-gray-600 dark:text-white">/month</span>
          </div>
          <ul class="text-sm text-gray-600 dark:text-white mb-6">
            <li class="mb-3">Unlimited Projects</li>
          </ul>
          <button class="block w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-3 rounded-lg">30 Day Free Trial</button>
        </div>
      </div>
    </div>
  </div>
</div>
